<div id="form" class="form">
  <div class="container">
    <div class="form__inner">
      <h2 class="form__title title">Form</h2>
      <form class="form__body">
        <input type="text" class="form__body-input" placeholder="Name*" name="name" data-valid="notEmpty">
        <input type="text" class="form__body-input" placeholder="Phone*" name="phone" data-valid="phone">
        <input type="text" class="form__body-input" placeholder="E-mail*" name="email" data-valid="email">
        <textarea name="message" class="form__body-message" cols="20" rows="10"
          placeholder="Tell us more about your problem..."></textarea>
        <button class="btn" type="submit">Send</button>
      </form>
    </div>
  </div>
</div>