<section class="slider" id="slider">
  <div class="container">
    <div class="slider__inner">
      <h2 class="slider__title title">Swiper-Slider</h2>
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
              <source srcset='img/webp/quote.webp' type='image/webp'>
              <img src='img/quote.jpg' width='500px' height='500px' alt='Quote'>
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset='img/webp/preparation.webp' type='image/webp'>
              <img src='img/preparation.jpg' width='500px' height='500px' alt='Preparation'>
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset='img/webp/great.webp' type='image/webp'>
              <img src='img/great.jpg' width='500px' height='500px' alt='Great'>
            </picture>
          </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
</section>