.footer {
  padding-bottom: 4rem;
}
.container {
}
.footer__inner {
}
.title {
}
.footer__nav {
}
.footer__list {
}
.footer__item {
  margin-bottom: 20px;
  padding: 10px 12px;
}
.footer__link {
  padding: 10px 12px;
  margin-top: 20px;
  background: $main;
  font-size: 18px;
}