.modal {

  opacity: 0;
  visibility: hidden;

  transition: all .25s ease;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.modal__overlay {
  background: rgba(0,0,0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}
.modal__content {
  transform: translateX(-100%);
  transition: all .4s ease;

  display: flex;
  flex-direction: column;
  padding: 40px;
  background: #fff;
  color: $text;
  border-radius: 10px;

  position: relative;

}
.modal__close {
  transition: all .25s ease;

  position: absolute;
  right: 5px;
  top: 5px;
  color: $main;
  width: 40px;
  height: 40px;
  background: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.2rem;

  cursor: pointer;
}
.close__span{
  display: inline-block;

}

.modal__title {
  text-transform: uppercase;
  margin-bottom: 2rem;
  text-align: center;
  color: $text;
  font-size: 3rem;
}
.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  min-width: 270px;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  &::placeholder{
    text-transform: uppercase;
  }
}

.btn {
}

.modal__btn {
}


.modal-open{
  opacity: 1;
  visibility: visible;
}

.modal-open .modal__content{
  transform: translateX(0%);
}