.slider {
  padding-bottom: 7rem;
  background: $sliderBg;
}

.slider__inner {
  position: relative;
}

.slider__title {
  color: #fff;
}

.swiper {
  position: relative;
}

.slider__wrapper {
}

.swiper {
  overflow: hidden;
}

.swiper-pagination {
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: $main;
  margin: 5px;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: $second;
}

.swiper-button-next, .swiper-button-prev {
  top: 65%;
}

.swiper-button-next {
  right: -60px;
}

.swiper-button-prev {
  left: -60px;
}

.swiper-button-next:after, .swiper-button-prev:after {
  color: $second;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
