.modal{
  position: fixed;
  bottom: 50%;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(#000, .5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  opacity: 0;
  height: 0;
  visibility: hidden;

  transition: all .5s ease-in;

  z-index: 999;
}

.modal__body{
  position: relative;
  color: #ffffff;
  font-size: 24px;
  background: #ffffff;
  padding: 50px;
  border-radius: 8px;

}


.modal__close{
  cursor: pointer;
  position: absolute;
  top: -20px;
  right: -40px;
  background: none;
  border: none;
  font-size: 49px;
  padding: 10px;
  color: #fff;
}

.modal__title{
  color: #000;
  margin-bottom: 20px;
  max-width: 270px;
  text-align: center;
  line-height: 1.2;
}

.modal__form{
  display: flex;
  align-items: start;
  flex-direction: column;
}

.modal__form-input{
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  max-width: 270px;
  padding: 8px 16px;
}
.modal__form-input::placeholder{
  font-size: 14px;
}

.modal__form-btn{
  margin: 0 auto;
  min-width: 270px;
  padding: 16px;
}

.modal--active{
  opacity: 1;
  height: 100%;
  visibility: visible;

  left: 0%;
  bottom: 0%;
}



@media(max-width:575px) {
  .modal__body{
    padding: 30px;
    max-width: 300px;
  }
  .modal__form-input {
    max-width: 240px;
  }

  .modal__form-btn {
    min-width: 240px;
  }

  .modal__close {
    cursor: pointer;
    position: absolute;
    top: -60px;
    right: -10px;
    background: none;
    border: none;
    font-size: 49px;
    padding: 10px;
    color: #fff;
  }

}
