body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
menu {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img,
abbr {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ul li,
menu li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
legend {
  color: #000;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
img {
  max-width: 100%;
  height: auto;
}

.wrapper {
}
.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.container {
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}

.hamRotate.active-burger {
  transform: rotate(45deg);
}
.hamRotate180.active-burger {
  transform: rotate(180deg);
}
.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #fff;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham8 .top {
  stroke-dasharray: 40 160;
}
.ham8 .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms;
}
.ham8 .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}
.ham8.active-burger .top {
  stroke-dashoffset: -64px;
}
.ham8.active-burger .middle {
  // stroke-dashoffset: -20px;
  transform: rotate(90deg);
}
.ham8.active-burger .bottom {
  stroke-dashoffset: -64px;
}

.header__burger {
  opacity: 0;
  visibility: hidden;

  position: absolute;
  right: 0;
}

.header__logo {
  svg {
    height: 50px;
    width: 50px;
  }
}
.header__nav {
  max-width: 720px;
  width: 100%;
}
.header__list {
  display: flex;
  justify-content: space-between;
}
.header__li {
}
.header__link {
  color: $textSecond;
  font-size: 2rem;
  text-decoration: none;

  transition: all 0.25s ease;
  padding: 10px;
}

@media (max-width: 991px) {
  .header__burger {
    position: absolute;
    right: 20px;
    z-index: 20;
    opacity: 1;
    visibility: visible;
  }
  .header {
  }

  .header__nav {
    opacity: 0;
    visibility: hidden;
    transition: all 0.25s ease;

    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.5);

    max-width: none;
    width: 100%;
  }
  .header__list {
    transition: all .4s ease;
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: auto;
    min-height: 100vh;
    width: 50%;
    background: #fff;
  }
  .header__li {
    text-align: center;
    display: block;
    margin-bottom: 3rem;
    border-bottom: 1px solid grey;
    padding: 10px;
  }
  .header__link {
    color: #000;
    display: block;
  }

  .header__nav--active {
    opacity: 1;
    visibility: visible;
    .header__list{
      transform: translateX(0%);
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome {
}
.welcome__title {
  margin-bottom: 2rem;
}
.title {
}
.welcome__descr {
  margin-bottom: 5rem;
}
.descr {
}
.btn {
}
.welcome__btn {
}
.footer {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.4rem;
  letter-spacing: 3px;
}
